.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/image2.jpg");
    background-size: cover;
    height: 100vh;
}

.para{
    width: 1200px;
    font-size: 36px;
    padding-top: 40px;
    padding-left: 600px;
    
}