.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccaa88;
    height: 50px;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;


  
  }